* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "Young Serif";
  src: url(./assets/fonts/young-serif/YoungSerif-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Outfit";
  src: url(./assets/fonts/outfit/Outfit-VariableFont_wght.ttf)
    format("truetype");
}

body {
  font-family: "Outfit", sans-serif;
  background-color: hsl(30, 54%, 90%);
  color: hsl(30, 10%, 34%);
  width: 100%;
  min-height: 100vh;
}

.container {
  background-color: hsl(330, 100%, 98%);
  margin-bottom: 1rem;
}

img {
  object-fit: cover;
  width: 100%;
  margin-bottom: 1.5rem;
}

section {
  padding: 0 1.5rem;
  text-align: justify;
}

h1,
h2,
h3 {
  font-family: "Young Serif", sans-serif;
  margin-bottom: 1rem;
}

h1 {
  font-size: 2rem;
  text-align: left;
  color: hsl(24, 5%, 18%);
}

.intro p {
  margin-bottom: 1.8rem;
}

h3 {
  color: hsl(332, 51%, 32%);
  text-indent: 1.5rem;
}

.intro ul {
  width: 65%;
  margin: 0 auto 2.5rem;
  line-height: 1.5rem;
}

ul li span,
ol li span {
  font-weight: 600;
}

h2 {
  color: hsl(14, 45%, 36%);
}

.ingredients-list,
.instructions-list {
  width: 85%;
  margin: 0 auto 1.5rem;
  line-height: 1.8rem;
}

.thin {
  width: 80%;
  margin: 0 auto 1.5rem;
  border-top: none;
  border-left: none;
  border-bottom-color: hsl(30, 18%, 87%);
}

.nutritional-values {
  margin-top: 1rem;
}

.nutritional-values p {
  display: flex;
  justify-content: space-between;
  margin: 0 auto 0.5rem;
  width: 80%;
}

section:last-child {
  padding-bottom: 1.5rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-bottom: 1rem;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (min-width: 376px) {
  body {
    font-size: 1.2rem;
  }
  .container {
    max-width: 450px;
    border-radius: 1rem;
    margin: 2rem auto 1rem;
    padding: 1.2rem;
  }

  img {
    border-radius: 0.5rem;
  }
  section {
    padding: 0;
  }
}
